NODE_ENV=
PORT=
NODE_ENV=

MONGODB_URI=
REDIS_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

REDIS_HOST=
REDIS_PORT=
REFRESH_TOKEN_EXPIRE_SECONDS=

TOKEN_HASH_SECRET=

#sms panel
SMS_USERNAME = 
SMS_PASSWORD = 
SMS_SENDER_NUMBER = 
SMS_VERIFY_PATTERN_CODE = 
OTP_EXPIRE_SECONDS=

# ZarinPal
ZARINPAL_MERCHANT_ID= 
ZARINPAL_PAYMENT_CALLBACK_URL=
ZARINPAL_PAYMENT_BASE_URL= 
ZARINPAL_API_BASE_URL= 

# Time Zone
PROJECT_TIME_ZONE=